/* ======== GLOBAL ======== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}
 
 .container { 
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header{
    background-color: #ffffff;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.nav-list{
    display: flex;
    gap: 40px; 
}
.nav-list a{
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
  font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}
.nav-list a{
    
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    text-decoration: none;
}
.contacts, 
.contacts-list a{
     padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;


}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #4d5ae5;
   
}

.logo span {
    color: #2e2f42;
}

.footer .logo span{
    color: #f4f4fd;

}
.nav-link {
    color: #2e2f42;
    font-size: 16px;
    text-decoration: none;
    transition: color 250ms ease;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}


.contacts-link {
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms ease;
    font-size: 16px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ======== HERO ======== */
.team{
    background-color:#f4f4fd;
}
.hero {
    background-color: #2e2f42;
    text-align: center;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    max-width: 496px;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.hero-btn {
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms ease;
    font-weight:500;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* ======== ADVANTAGES ======== */
.features-title,
.team-title,
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
}
 .team-item{
    background-color:#fff;
 }

.features-title {
    font-size: 20px;

}

.features-text {
    color: #434455;
}



.team-title,
.portfolio-title {
    font-size: 36px;
    text-align:center;
    
}
.features-text,
.team-position,
.portfolio-type,
.footer-text{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.team-name,
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;

}
.team-name,
.team-position{
    text-align:center;
}
.footer{
    background-color: #2e2f42;
}
.footer-text{
    color: #f4f4fd;
}